@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,600;1,700&family=Permanent+Marker&family=Poppins:wght@400;600;700;800&family=Ysabeau+SC:wght@200;300;400&display=swap');

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    background-color: #1c1c1c;
    scroll-behavior: smooth;
}
.spinner-wrapper{
    background-color: #1c1c1c;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 2s ease-in;
}
.spinner-wrapper .spinner-border{
    width:15rem;
    height:15rem;
    color:#15A3C7;
    font-size: large;
}
body {
    background-color: #1c1c1c;
}

html::-webkit-scrollbar {
    width: .4rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #15A3C7;
    border-radius: 1rem;
}

.navbar {
    font-family: 'Ysabeau sc';
    background-color: #1c1c1c;
    color: #ffffff;
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: #fff;
}

.navbar .navbar-brand,
.navbar .nav-link:hover {
    color: #15A3C7;
}

.navbar .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: #383D3F;
}

.navbar .nav-item i:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    outline: 2px solid #15A3C7;
    border-radius: 50%;
    color: #383D3F;
    outline-offset: 8px;
}

.carousel-item {
    position: relative;
    height: 80vh;
}

@media(max-width:991px) {
    .carousel-item {
        position: relative;
        height: 60vh;
    }
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
    background-color: #383d3f75;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
}

.about {
    border-right: 1rem solid #fff;
    border-top: 1rem solid #1c1c1c26;
    border-left: 1rem solid #fff;
    border-bottom: 1rem solid #1c1c1c26;
    color: #1c1c1c;
}

#about {
    background-color: #fff;
}

section{
    background-color: #1c1c1c;
    border-left: 1rem solid #1c1c1c;
    border-right: 1rem solid #1c1c1c;
}

footer {
    color: #fff;
}

footer h4 {
    font-size: small;
}

footer p {
    font-size: smaller;
}
i {
    font-style: normal;
}
.navbar .navbar-nav #ac{
    color:#15A3C7;
}
#contact {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.contact form{
    max-width: 600px;
    margin: 0 auto;
}

.contact form label {
    margin-bottom: 0.5rem;
}

.contact form input,
.contact form textarea {
    margin-bottom: 1.5rem;
}

.contact form button {
    background-color: #007bff;
    color: #fff;
}

.contact form button:hover {
    background-color: #0056b3;
}
#contact{
    width:100%;
    display:flex;
    background-color: #1c1c1c;
    margin:0;
    height:auto;
    padding:0;
}
#left{
    flex:50%;
    background-color:#1c1c1c;
    border:0.5rem solid #fff;
    margin:0;
}
#right{
    flex:50%;
    background-color:#fff;
    border:0;
    margin:0;
    font-family:'Josefin Sans';
}

#contact #right input{
    border-width:0px 0px 3px 0px;
    border-radius: 0;
    outline:0;
    text-decoration: none;
}
#contact #right input:focus{
   box-shadow: none;
   color:#1c1c1c;
   border-color: #15A3C7;
}
#contact #right textarea{
    border-width:3px 3px;

}
#contact #right textarea:focus{
   box-shadow:none;
   border-color:#15A3C7;
}
#contact #right button{
    padding:10px 40px;
    margin-left:1.8rem;
}
#contact #right button:hover{
    color:#fff;
    background-color:#333333;

}
#contact #left{
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
}
#contact #left i{
    font-size:10rem;
    color:#fff;
    position: absolute;
}
#contact #left i:hover{
    color:#15A3C7;
    text-shadow:2px 2px 1px #fff;
}
@media(max-width:991px){
    #contact #left{
        display:none;
    }
}
#contact .icon-container{
    background:#1c1c1c;
}
@keyframes fadeEffectright{
    from{
        opacity:0;
        transform:translateY(-100);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
#about{
    animation:fadeEffectright 4.0s ease-in-out;
}
.carousel{
    animation:fadeEffectright 4.0s ease-in-out;
}
/*SHOP CSS*/
#shoping{
    color:#fff;
    font-family:'Ysabeau SC';
    background-color:#1c1c1c;
}
#shoping h5{
    font-size:1.2rem;
}
#shoping .container{
    display:flex;
    margin:auto;
    align-items: center;
    justify-content:space-between;
    padding:20px;
    padding-top:0;
    font-size:1.3rem;
}
#shoping .container .icon-cart button{
    color:#fff;
}

#shop-items .beverages,
#shop-items .snacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#shop-items .products {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90vh, 1fr));
    grid-gap:50px;
}
#shop-items .beverages .b1,
#shop-items .snacks .s1 {
    width: calc(25% - 50px); /* 4 items in 1 row for large screens */
    margin-bottom:20px;
    padding:0.4rem;
    box-sizing: border-box;
}
#shop-items .products button{
    color:#fff;
    font-family:'poppins';
    background-color: #15A3C7;
    padding:0.5rem 0.9rem;
    border-radius:0.8rem;
    font-size:1rem;
    margin:0.5rem 0;
}
#shop-items .products button:hover{
    color:#15A3C7;
    background-color: #1c1c1c;
}

#shop-items .beverages img {
    width:100%;
    border:1px solid #1c1c1c;
    border-radius:1rem;
}
#shoping #shop-items .name,.totalprice,.quantity{
    font-size:1rem;
    font-weight:600;
 }
 #shop-items .snacks img {
     width: 100%;
     border:1px solid #1c1c1c;
     border-radius:1rem;
 }
 #shop-items .snacks .s1{
     background-color: #fff;
     border-radius:1rem;
     outline: 2px solid #fff;
     color:#1c1c1c;
     text-align: center;
 }
#shop-items .beverages .b1{
    background-color: #fff;
    border-radius:1rem;
    outline: 2px solid #fff;
    color:#1c1c1c;
    text-align: center;
}

@media (max-width: 992px) {
    #shop-items .products {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap:25px;
    }
    
    #shop-items .beverages .b1,
    #shop-items .snacks .s1 {
        width: calc(25% - 25px); /* 4 items in 1 row for medium screens */
    }
}

@media (max-width: 768px) {
    #shop-items .products {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap:30px;
    }
    
    #shop-items .beverages .b1,
    #shop-items .snacks .s1 {
        width: calc(33.3% - 30px); /* 3 items in 1 row for small screens */
    }
}

@media (max-width: 576px) {
    #shop-items .products {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 30px;
    }
    
    #shop-items .beverages .b1,
    #shop-items .snacks .s1 {
        width:100%; /*2 item in 1 row for extra-small screens */
    }
}
#shoping .icon-cart .offcanvas-header{
    font-family:sans-serif;
    padding:20px;
    margin:0;
    align-items: center;
    color:#fff;
    background-color: #15A3C7;
    font-size:1rem;
    font-weight: 300;
}
.offcanvas-body{
    overflow:auto;
    padding:1rem;
}
.offcanvas-body .cart-item img{
    width:4rem;
    border-radius:1rem;
}
.offcanvas-body .cart-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 0.8rem 0.8rem 0;
}
.offcanvas-body .cart-item .quantity{
    align-items: center;
    text-align: center;
    border-radius:1vh;
}
.offcanvas-body .cart-item .quantity span{
   background-color: #007bff;
   padding:0.3rem 0.4rem;
   font-size:1rem;
   display:inline-block;
}
.offcanvas-body .cart-item .quantity #no-of{
    background-color:#fff;
    border-top:1px solid #15A3C7;
    border-bottom:1px solid #15A3C7;

}
.cart-item .quantity .minus{
    border-radius:5px 0 0 5px;
}
.cart-item .quantity .plus{
    border-radius:0 5px 5px 0;
}
.cart-item .quantity .minus:hover{
    background-color: #1c1c1c;
    color:#fff;
}
.cart-item .quantity .plus:hover{
    background-color: #1c1c1c;
    color:#fff;
}
.icon-cart .btn span{
    background-color: red;
    border-radius: 50%;
    width:20px;
    height:20px;
    font-size:small;
}
.offcanvas-body::-webkit-scrollbar{
    width: .3rem;
}
.offcanvas-body::-webkit-scrollbar-track {
    background: transparent;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background:#333333;
    border-radius:1rem;
}
.grp-btns {
    display: grid;
    position: sticky;
    grid-template-columns: repeat(2, 1fr);
    background:#15A3C7;
    width: 100%;
    padding:0.5vh;
    bottom:0;
    gap:4px;
}

.grp-btns button {
    padding: 15px 25px;
    font-family: 'poppins';
    font-size: medium;
    color: #fff;
    background-color:#e8bc0e;
}
.grp-btns button:hover {
    color: #fff;
    background-color: #333333;
}
